nav {
    position: fixed;
    height: 100%;
    border-right: 3px double black;
    padding-top: 8px;
    padding-left: 8px;
}

nav a {
    display: block;
    width: 150px;
    padding-left: 28px;
    margin-bottom: 2mm;
}

.wrap > .container {
    margin-left: 160px;
}

.user.login nav {
    display: none;
}

.user-login .right {
    display: none;
}

.user-login button {
    width: 129px;
    height: 59px;
    background: url("/images/login.png") center;
    border: none;
}

#user-panel ul {
    padding-left: 0;
}

#user-panel ul li {
    display: inline-block;
    list-style: none;
}

.form-group.required label:after {
    content: " *";
}

.faq-index .contents a {
    display: block;
}

.moment.online {
    font-weight: bold;
}

.container {
    width: auto;
}

.invoice-index td:first-child {
    width: 310px;
    font-family: courier, monospace;
}

.invoice-index td:nth-child(7) {
    width: 150px;
}

.invoice-index td:last-child {
    width: 70px;
}

.question {
    border-left: 1px solid black;
}

.answer {
    text-align: right;
    border-right: 1px solid black;
}

.feedback-ticket ul {
    padding-left: 0;
}

.feedback-ticket li {
    border-bottom: 1px solid black;
    list-style: none;
    padding: 4px;
}

.feedback-ticket li:first-child {
    border-top: 1px solid black;
}

.thumbnail {
    display: inline-block;
    margin: 4px;
    max-width: 160px;
    max-height: 140px;
    cursor: pointer;
}

#image-view {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.66);
    text-align: center;
    cursor: pointer;
}

#image-view img {
    margin-top: 40px;
    max-width: 90%;
    max-height: 90%;
    border: 3px solid white;
}

.icon {
    background: no-repeat left;
    background-size: contain;
}

.payment > td {
    background-color: rgba(0, 128, 0, 0.33);
}

.withdraw > td {
    background-color: rgba(255, 0, 0, 0.33);
}
