@import url(https://fonts.googleapis.com/css?family=Noto+Sans&subset=latin,cyrillic);

body {
    font-family: "Noto Sans", "Verdana", "sans-serif";
}

body.background {
    background-image: url("/images/background.jpg");
}

#background {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: url("/images/background-sand.jpg");
    z-index: -1;
}

.alert, .breadcrumb {
    margin-top: 8px;
    border-radius: 0;
}

div.cabinet {
    margin-top: 16px;
    font-weight: bold;
    font-size: 16pt;
    text-transform: uppercase;
}

.wrap > .container {
    background: rgba(0, 0, 0, 0) linear-gradient(to top, rgba(254, 252, 234, 0.8), rgba(241, 218, 54, 0.8)) repeat scroll 0 0;
    padding-bottom: 20px;
}

.table-striped > tbody > tr:nth-of-type(odd) {
    background-color: rgba(255, 255, 255, 0.85);
}

.user-login button {
    background: rgba(0, 0, 0, 0) url("/images/login.png") repeat scroll center center;
    margin-top: -20px;
    min-width: 110px;
}

.user-login .right {
    display: inline-block;
    margin-left: 1em;
}

#user-panel ul {
    padding-left: 0;
}

#user-panel ul li {
    list-style: none;
}

#user-panel ul li .btn {
    width: 100%;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-bottom: 10px;
}

.matrix-plans tbody tr {
    cursor: pointer;
}

.matrix-plans tbody tr:hover {
    background-color: lightgrey;
}

#auth, #feedback {
    position: fixed;
    right: 6%;
    background-color: #e7e7e7;
    padding: 6px;
}

#auth {
    border-bottom-left-radius: 6px;
    border-bottom-right-radius: 6px;
    border: 1px solid #EA5C15;
    border-top: medium none;
    background-color: rgba(255, 199, 0, 0.67);
    padding: 6px;
    margin-right: 3% !important;
    display: inline-flex;
}


a {
    color: #b34610;
}

a:hover {
    color: #63290c;
    text-decoration: none;
}

#auth a:first-child {
    margin-right: 6px;
}

#feedback {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    background-image: url("/images/feedback.jpg");
    bottom: 0;
    height: 175px;
    padding: 15px;
    right: 0;
    top: 30%;
    width: 39px;
}

.right {
    float: right;
}

.invoice-index td:first-child {
    width: 310px;
    font-family: courier, monospace;
}

.question {
    border-left: 1px solid black;
}

.answer {
    text-align: right;
    border-right: 1px solid black;
}

.feedback-ticket ul {
    padding-left: 0;
}

.feedback-ticket li {
    border-bottom: 1px solid black;
    list-style: none;
    padding: 4px;
}

.feedback-ticket li:first-child {
    border-top: 1px solid black;
}

.thumbnail {
    display: inline-block;
    margin: 4px;
    max-width: 160px;
    max-height: 140px;
    cursor: pointer;
}

#image-view {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.66);
    text-align: center;
    cursor: pointer;
}

#image-view img {
    margin-top: 40px;
    max-width: 90%;
    max-height: 90%;
    border: 3px solid white;
}

.btn {
    border-radius: 0;
    border: none;
}

.btn-primary {
    background: #2c7d22 none repeat scroll 0 0;
}
.btn-primary:hover {
    background: #226217 none repeat scroll 0 0;
}

.btn-warning {
    background: #2c7d22 none repeat scroll 0 0;
}
.btn-warning:hover {
    background: #226217 none repeat scroll 0 0;
}

.btn-danger {
    background: #d60c0c none repeat scroll 0 0;
}
.btn-danger:hover {
    background: #B70B0B none repeat scroll 0 0;
}

input {
    border-radius: 0 !important;
    height: 40px !important;
}
#feedback-content {
    border-radius: 0;
    height: 130px;
}
.container {
    box-shadow: 0 0 0px -1px #5c5c5c;
}
.user-signup input {
    background: #fff75f none repeat scroll 0 0;
}

.wrap > .container > div:last-child > #user-panel {
    display: inline-block;
    float: left;
    margin-right: 40px;
    vertical-align: top;
    width: auto;
}

.form-group {
    display: inline-block;
    margin-bottom: 10px;
}
.form-group label {
    display: block;
    float: left;
}
.form-group input {
    display: block;
    float: right;
    width: 60%;
    background: #fffca9;
}

.form-group .help-block {
    display: block;
    float: left;
    margin-bottom: 0;
    margin-left: 230px;
}
.field-user-name .help-block {
    margin-top: 23px;
}
.form-group.field-user-wallet_card {
    margin-top: 5px;
}
.form-group .help-block:first-child {
    margin-top: 25px;
}

.form-control {
    background: #FFF75F;
}

.signup .form-group.field-user-wallet_nix {
    display: table;
    list-style: outside none none;
}
.signup .form-group input[type="checkbox"] {
    float: left;
    margin-left: 240px;
    position: relative;
    top: -12px;
    width: 35px;
}
.form-group label:last-child {
    margin-left: -20px;
    padding-right: 5px;
}
.user-signup form {
    margin: 0 auto;
    width: 40%;
}
.user-login form {
    margin: 0 auto;
    width: 40%;
}
.feedback-create {
    margin: 0 auto;
    width: 50%;
}
.signup #auth {
    display: none;
}
.login #auth {
    display: none;
}
.g1 {
    background: #2c8934 none repeat scroll 0 0;
    border-radius: 3px;
    color: #fff;
    float: right;
    padding: 10px 20px;
    position: relative;
    right: 30px;
    top: 20px;
}

.g1:hover {
    color: #FFBE2A;
}
.g2 {
    background: #2c8934 none repeat scroll 0 0;
    border-radius: 3px;
    color: #fff;
    float: right;
    padding: 10px 20px;
    position: relative;
    right: 30px;
    top: 20px;
}

.g2:hover {
    color: #FFBE2A;
}
.form-group .btn.btn-primary {
    width: 180px;
}
.user-signup .form-group {
    width: 100%;
}
.signup .btn.btn-primary {
    float: right;
}
.login .form-group a label {
    float: left;
}
.login .form-group input[type="checkbox"] {
    float: left;
    margin: -10px 7px 20px 16px;
    width: 20px;
}
.login .form-group a span {
    float: right;
}
.login .form-group a.right {
    left: 110px;
    margin-top: -20px;
    position: relative;
    top: 20px;
    width: 40%;
}

#plans td:nth-child(3):before,
#plan td:nth-child(3):before,
#members td:nth-child(3):before {
    content: '€';
}
.view .form-control {
    margin-bottom: 20px;
}
.plans .btn.btn-primary {
    margin-bottom: 10px;
    padding-bottom: 10px;
    padding-top: 10px;
    width: 143px;
}

thead {
    background: #ffff93 none repeat scroll 0 0;
}
tbody {
    background: #e7e7e7 none repeat scroll 0 0;
}
#user-status.form-control {
    float: right;
    width: 60%;
}
.view .transfer-index table {
    width: 100%;
}
.user-edit button {
    float: inherit;
    height: 40px;
    margin: 0 auto;
    min-width: 110px;
}
.user-edit #user-ref_name {
    background: #fff none;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset;
    color: #555;
    font-size: 14px;
    height: 34px;
    line-height: 1.42857;
    padding: 6px 12px;
    transition: border-color 0.15s ease-in-out 0s, box-shadow 0.15s ease-in-out 0s;
}
.form-group.field-user-ref_name {
    float: right;
}
.login .form-group {
    width: 100%;
}
.user-login .form-group > a {
    width: 100%;
}
.transfer-index tr.account td {
    background-color: rgba(0, 128, 0, 0.33);
}

.transfer-index tr.debit td {
    background-color: rgba(255, 0, 0, 0.33);
}

.transfer-index tr.blocked td {
    background-color: rgba(255, 235, 0, 0.33);
}

.avatar {
    background: rgba(0, 0, 0, 0) none no-repeat scroll center center / cover ;
    float: left;
    height: 91px;
    margin-right: 5px;
    width: 100%;
}

.user-view .top > * {
    vertical-align: middle;
}

.nick {
    display: inline-block;
    margin-left: 1em;
}

#cabinet .row > div {
    vertical-align: top;
}

.row > div {
    display: table-cell;
}

.menulef {

}

body {
    margin-top:70px;
    margin-bottom: 20px;
}

#cabinet {
    padding-top: 15px;
}

h1 {
    color: #8f8f10;
    font-family: Verdana, Arial, sans-serif;
    font-size: 50px;
    font-weight: 100;
    text-align: center;
}

.title {
    margin: 0 0 23px;
    padding: 0 0 10px;
}

#referral_url {
    background: #ffff93 none repeat scroll 0 0;
    border-top: 7px solid #cfc653;
    padding: 5px 1% 0px ;
    height: 78px;
}

.content.col-lg-8 input {
    color: #226217;
    padding: 5px;
}

.account div:first-child {
    background: #3c8d32 none repeat scroll 0 0;
    border-top: 5px solid #206d20;
    color: white;
    font-size: 18px;
    font-weight: 600;
    padding: 10px;
    margin-bottom: 20px;
    text-align: center;
}

.right .account span {
    display: block;
    font-size: 56px;
    text-shadow: 1px 1px 0 black;
}

.account > div:nth-child(2) {
    background: #ff9b7b none repeat scroll 0 0;
    border-top: 5px solid #cf8b6b;
    color: white;
    font-size: 18px;
    font-weight: 600;
    margin-bottom: 20px;
    padding: 10px;
    text-align: center;
}

.account .btn.btn-success.btn-xs {
    background: #05a5df none repeat scroll 0 0;
    color: white;
    margin: -12px 0 0 !important;
    padding: 8px 30px;
    box-shadow: 0 0 11px -6px #202020;
}

.btn.btn-success.btn-xs:hover {
    background: #25c5ff none repeat scroll 0 0;
    box-shadow: 0 0 0px 0px black;
    color: white;
    margin: -12px 0 0 !important;
    padding: 8px 30px;
}

.user-view > h1 {
    text-align: left;
    font-size: 24px;
    margin: 0;
}

.sponsors-count {
    background: #008b8b none repeat scroll 0 0;
    border-top: 5px solid #006b6b;
    padding: 10px;
    text-align: center;
    color: white;
}

input {
    border: 1px solid #808080 !important;
    color: #000000;
    padding: 5px;
    width: 100% !important;
    background: #fff none repeat scroll 0 0;

}

select.form-control {
    border-radius: 0;
    height: 40px;
    width: 100% !important;
    border: 1px solid #808080 !important;
    color: #000000;
    padding: 5px;
}

button, .btn-default {
    background: #05a5df none repeat scroll 0 0 !important;
    border: 1px solid #0085bf !important;
    color: #ffffff !important;
    float: right !important;
    margin: 5px 0;
    padding: 10px !important;
}

.matrix-generate  {
    margin-bottom: 10px;
    padding-bottom: 10px;
}

.form-group label {
    color: #333333 !important;
    font-weight: 100;
}

.has-success label {
    color: #008000 !important;
}

.has-error label {
    color: #800000 !important;
}

.form-group {
    width: 100%;
}

.user-info-list > div {
    background: #e0e0e0 none repeat scroll 0 0;
    border-top: 5px solid #c0c0c0;
    padding: 5px;
    margin-bottom: 20px;
}

h6 {
    color: #000000;
    font-size: 16px;
    font-weight: 100;
    line-height: 1.5;
    margin: 10px;
    padding: 0;
    position: relative;
    text-align: center;
    top: 7px;
}

.user-info-list h4 {
    background: #f8f8f8;
    margin: -5px -5px 5px -5px;
    padding: 5px;
    font-size: 12px;
}

.breadcrumb {
    display: none;
}

.help-block {
    margin: 0 !important;
    text-align: center !important;
    width: 100%;
}

#accept {
    display: block;
    float: left;
    margin: 3px 5px 4px 20px !important;
    padding: 0 !important;
    width: 15px !important;
}

#loginform-remember {
    width: 15px !important;
    margin: -9px 5px 0px 0;
}

.form-group.field-user-delete_avatar input {
    width: 15px !important;
}

#user-image {
    background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
    border: 0 none !important;
    height: 40px !important;
    padding: 0;
}

.info a {
    background: rgb(5, 165, 223) none repeat scroll 0 0;
    color: rgb(255, 255, 255);
    display: block;
    font-size: 11px;
    margin-top: 14px;
    padding: 5px;
    text-align: center;
}

h2 {
    color: rgb(143, 143, 16);
    font-family: Verdana, serif;
    font-size: 40px;
    font-weight: 100;
    text-align: center;
}

#w0 .avatar {
    height: 150px;
    width: 200px;
}

.summa {
    margin: 0 auto;
    width: 50% !important;
}

.summa input, .summa label {
    margin-bottom: 10px;
    margin-right: 20px;
    padding: 0 !important;
    width: 240px !important;
}

#perfect, #nix {
    float: left;
    margin-right: 20px;
    width: 240px !important;

}

#perfect > input {
    background: rgb(226, 58, 45) none repeat scroll 0 0;
    border: 0 solid !important;
    color: rgb(255, 255, 255);
}

#nix > input {
    background: rgb(64, 142, 242) none repeat scroll 0 0;
    border: 0 solid !important;
    color: rgb(255, 255, 255);
}

.pay12 {
    margin: 0 auto;
    width: 50%;
}

.summa label {
    width: 236px !important;
}

.nav.navbar-nav.navbar-right li:first-child {
    background: cornflowerblue;
    color: white !important;
}

.nav.navbar-nav.navbar-right li:last-child {
    background: crimson;
    color: white !important;
}


.nav.navbar-nav.navbar-right a {
    color: white;
}

.table {
    margin-bottom:0px !important;
}

td {
    background: #fff691 none repeat scroll 0 0;
}

#referral_url div {
    background: #f8e681 none repeat scroll 0 0;
    border: 1px solid #bfbf61;
    display: inline-block;
    padding: 8px 5px;
}

.user-password form {
    margin: 0 auto;
    width: 50%;
}
.user-edit form {
    margin: 0 auto;
    width: 50%;
}

hr {
    display: none;
}

.pagination a {
    background: #fff75f none repeat scroll 0 0 !important;
    color: black !important;
}

.prev.disabled > span {
    background: #fff75f none repeat scroll 0 0;
    color: black;
}

.invoice-create .invoice-form {
    margin: 0 auto;
    width: 40%;
}

#referral_url .form-label {
    display: block;
    width: 100% !important;
}

#referral_url {
    background: #ffff93 none repeat scroll 0 0;
    border-top: 7px solid #cfc653;
    display: inline-block;
    height: 78px;
    left: 26%;
    padding: 5px 1% 0;
    position: relative;
}

.account div strong {
    display: block !important;
}

#plans button {
    padding: 2px 10px !important;
}

.form-control {
    border-radius: 0;
    border: 1px solid gray;
}

.feedback-ticket {
    width: 40%;
    margin: 0 auto;
}

.form-group.field-message-images > input {
    background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
    border: 0 solid !important;
    padding: 0;
}

.table {
    font-size: 11px !important;
    margin-bottom: 20px;
    max-width: 100%;
    width: 100%;
}

svg:not(:root) {
    background: #ffffff none repeat scroll 0 0;
    overflow: hidden;
}

.matrix.graph .wrap > .container {
    background: none;
}
