#user-panel ul {
    padding-left: 0;
}

#user-panel ul li {
    display: inline-block;
    list-style: none;
}

.field-user-wallet_nix,
.field-user-wallet_card {
    display: none;
}

.matrix-plans tbody tr {
    cursor: pointer;
}

.matrix-plans tbody tr:hover {
    background-color: lightgrey;
}

.field-user-name input,
.field-user-perfect input {
    display: inline-block;
    width: auto;
    margin: auto;
}

#auth, #feedback {
    position: fixed;
    right: 6%;
    background-color: #e7e7e7;
    padding: 6px;
}

#auth {
    top: 0;
    border-bottom-left-radius: 6px;
    border-bottom-right-radius: 6px;
    border: 1px solid grey;
    border-top: none;
}

#auth a:first-child {
    margin-right: 6px;
}

#feedback {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    background-image: url("http://ex.s.biz.ua/images/POM.jpg");
    bottom: 0;
    height: 175px;
    padding: 15px;
    right: 0;
    top: 30%;
    width: 39px;
}

.invoice-index td:first-child {
    width: 310px;
    font-family: courier, monospace;
}

body {
    background-image: url("http://ex.s.biz.ua/images/fon.jpg");
    background-size: cover;
}

html body.user.view div.wrap.login div.container div.user-view div div input.form-control {
    background-color: rgb(255, 255, 255);
    background-image: none;
    border-radius: 0;
    border-top: 2px solid rgb(240, 248, 255);
    color: rgb(70, 130, 180);
    display: block;
    font-size: 14px;
    font-weight: 600;
    height: 60px;
    line-height: 1.42857;
    margin: 0 0 50px;
    padding: 6px 12px;
    text-shadow: 1px 0 0 rgb(135, 206, 235);
    transition: border-color 0.15s ease-in-out 0s, box-shadow 0.15s ease-in-out 0s;
    width: 100%;
}

.table {
    margin-bottom: 20px;
    width: 100%;
    background: #fff none repeat scroll 0 0;
}

#w1 .table {
    margin-bottom: 20px;
    max-width: 100%;
    width: 100%;
}

#w1 .table th {
    background: rgba(200, 200, 200, 0.5);
}

#plans a {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    background: #9acd32 none repeat scroll 0 0;
    border-color: #baed52;
    border-image: none;
    border-radius: 3px;
    border-style: solid;
    border-width: 1px 1px 3px;
    box-shadow: 0 0 5px -2px #ffffff inset;
    color: #ffffff;
    display: block;
    height: 30px;
    padding: 4px 0 0;
    text-align: center;
    vertical-align: middle !important;
}

#plans a:hover {
    background: #7aad12 none repeat scroll 0 0;
    border: 1px solid #7aad12;
    border-radius: 3px;
    box-shadow: 0 0 7px -2px #ffffff inset;
    color: #fff;
    display: block;
    height: 30px;
    padding: 4px 0 0;
    text-align: center;
    vertical-align: middle !important;
    text-decoration: none;
}

.matrix-index > h1 {
    color: #fff;
}

.footer-options.mw {
    background: #e1e1e1 none repeat scroll 0 0;
}

.user-signup {
    background: rgb(255, 255, 255) none repeat scroll 0 0;
    margin: 25px 0;
    padding: 1px 15px;
    width: 50% !important;
}

.user-signup .form-group {
    width: 100%;
}

.container .user-login, .container h1 {
    background: rgb(255, 255, 255) none repeat scroll 0 0;
    color: rgb(0, 0, 0);
    margin: 2px 0;
    padding: 10px 15px;
    width: 50%;
}

.form-label {
    background: rgb(255, 255, 255) none repeat scroll 0 0;
    display: block;
    padding: 10px;
    width: 100%;
}

#user-panel {
    margin: 11px 0 0;
}

#w0-filters {
    display: none;
}

.user-signup h1, article h1 {
    padding: 10px 0 0 !important;
}

.matrix-index > h1 {
    width: 100%;
    margin: -1px 0;
}

.journal-index h1, .matrix-plans h1,
.invoice-index h1, .user-update h1, .user-password h1, .user-view h1,
.user-index h1, .invoice-create h1, .invoice-view h1 {
    border-bottom: 1px solid rgb(220, 220, 220);
    padding: 0 0 5px;
    width: 100%;
}

.journal-index {
    width: 746px !important;
}

.invoice-index, .matrix-plans, .journal-index, .user-update,
.user-password, .user-view, .user-index, .invoice-create, .invoice-view, .invoice-pay {
    background: rgb(255, 255, 255) none repeat scroll 0 0;
    margin: 0 0 20px;
    padding: 15px;
    width: 650px;
}

#perfect > input {
    position: relative;
    left: 500px;
}

.question {
    border-left: 1px solid black;
}

.answer {
    text-align: right;
    border-right: 1px solid black;
}

.feedback-ticket ul {
    padding-left: 0;
}

.feedback-ticket li {
    border-bottom: 1px solid black;
    list-style: none;
    padding: 4px;
}

.feedback-ticket li:first-child {
    border-top: 1px solid black;
}

.thumbnail {
    display: inline-block;
    margin: 4px;
    max-width: 160px;
    max-height: 140px;
    cursor: pointer;
}

#image-view {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.66);
    text-align: center;
    cursor: pointer;
}

#image-view img {
    margin-top: 40px;
    max-width: 90%;
    max-height: 90%;
    border-right: 4px;
    border: 3px solid white;
}